*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", sans-serif;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    /* padding-left:10%;
    padding-right:10%; */
    background: black;
    color: white;
    /* background-image: url(res/monke.png);
    background-size: contain; */
}

h1{
    text-align: center;
}
p{
    padding: 0.5% 10% 0.5% 10%;
}

/* Used for headerText */
@keyframes fadeIn {
    0%   {opacity: 0;}
    20%  {opacity: 0;}
    100% {opacity: 1;}
}

.headerBackgroundImg{
    width: 100%;
    height: 100%;
    background-image: url(res/Header_img.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Top Links */
.nav_list{
    display: inline;
    margin: 10px;
}
.nav_list a:hover{
    color: orange;
}
.nav_link{
    color: aqua;
    font-size: 1.2em;
    text-decoration: none;
}

.pageSpacer{
    padding-top: 30%;
    padding-bottom: 30%;
}

.headerText{
    color: orangered;
    padding-left:10%;
    padding-right:50%;
    animation: fadeIn 2s;
}

.aboutPage{
    background-color: green;
}
.aboutPage h1{
    color: blue;
}
.aboutPage p{
    color: yellow;
}
