*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: black;
    color: white;
}

#header-background-img{
    width: 100%;
    height: 100%;
    background-image: url(res/clint.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Top Links */
#links nav ul li{
    display: inline;
    margin: 10px;
}
#links a{
    color: aqua;
    font-size: 1.2em;
    text-decoration: none;
}
#links a:hover{
    color: orange;
}

#header-text{
    color: greenyellow;
    padding-block: 20px 150px;
}

#about-page{
    background-color: green;
    border-radius: 20px;
}
#about-page h1{
    text-align: center;
}
#about-page p{
    color:orange;
    padding: 0px 5px 10px 5px;
}
#about-page p a{
    text-decoration: none;
    color: purple;
}

#education-background-img{
    width: 100%;
    height: 100%;
    background-image: url(res/TN-Maglor_Casts_a_Silmaril_into_the_Sea.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#education-page{
    background-color: brown;
    border-radius: 20px;
}
#education-page h1{
    text-align: center;
}

.card{
    margin-inline: 10px;
    height: 50px;
    background-color: purple;
    user-select: none;
}
.card img{
    margin: 5px;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
.card h1{
    display: inline-block;
    vertical-align: middle;
}
.card p{
    display: none;
}